.Frutas{
    color: orange;
    font-size: larger;
}
.Carnes{
    color: red;
    font-size: larger;
}
.Verduras{
    color: green;
    font-size:larger;
}
p{
    color: blue;
    font-size: larger;
}